<ion-tabs class="tabs-icon-top tab-coletivando">

    <ion-tab title="Início" icon="ion-home" ui-sref="tabsNaoLogado.home">
        <ion-nav-view name="naoLogado-home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Explore" icon="ion-compass" ui-sref="tabsNaoLogado.explore">
        <ion-nav-view name="naoLogado-explore-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Login" icon="ion-android-person" ui-sref="tabsNaoLogado.login">
        <ion-nav-view name="naoLogado-login-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>