<ion-view>
    <ion-tabs class="tabs-icon-top tab-coletivando">

        <ion-tab title="Início" icon="ion-home" ui-sref="tabsFisicoLogado.home">
            <ion-nav-view name="fisicoLogado-home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Explore" icon="ion-compass" ui-sref="tabsFisicoLogado.explore">
            <ion-nav-view name="fisicoLogado-explore-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Notificações" icon="ion-android-notifications" ui-sref="tabsFisicoLogado.notificacoes">
            <ion-nav-view name="fisicoLogado-notificacoes-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Conta" icon="ion-person" ui-sref="tabsFisicoLogado.conta">
            <ion-nav-view name="fisicoLogado-conta-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>