<ion-view id="aderir-oferta" title="Aderir Oferta">
    <ion-nav-bar class="green back">
        <ion-nav-buttons side="left">
            <button ng-click="goBackHandler()" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        
        <ion-item>
            <h2>Endereço para entrega</h2>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="col col-20 center">
                        <i class="icon ion-ios-location"></i>
                    </div>
                    <div class="col col-80">
                        <h2>{{pessoaFisica.enderecoRua}}, {{pessoaFisica.enderecoNumero}}</h2>
                        <p>{{pessoaFisica.enderecoCep}} - {{pessoaFisica.enderecoCidade}} - {{pessoaFisica.enderecoEstado}}<p>
                    </div>
                </div>
            </div>
        </ion-item>

        <!--<ion-item>
            <h2>Forma de pagamento</h2>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="col col-20 center">
                        <i class="icon ion-card"></i>
                    </div>
                    <div class="col col-80">
                        <h2>Cartão de Crédito</h2>
                        <p>Alterar para boleto<p>
                    </div>
                </div>
            </div>
        </ion-item>-->

        <ion-item>
            <h3 style="float: left" class="valortotal">Valor total:</h3>
            <h3 style="float: right" class="valortotal2">R$ {{oferta.precoFinalUn}} </h3>
        </ion-item>

        <div class="row button-prox">
            <div class="col"></div>
                <div class="col col-80 center">
                    <button ng-click="aderirOferta(oferta.$id)" class="button btn btn-green">Próximo</button>
                </div>
            <div class="col"></div>
        </div>

    </ion-content>
</ion-view>