<ion-view id="aderir-oferta" title="Aderir Oferta">
    <ion-nav-bar class="green back">
        <ion-nav-buttons side="left">
            <button ng-click="" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        
        <ion-item>
            <h2>Endereço</h2>
            <div class="card">
                <div class="item item-text-wrap">
                    <div>
                        <i class="icon ion-ios-location"></i>
                    </div>
                    <div>
                        <h2>Rua dos fulanos de tal, 500</h2>
                        <p>151222 - São Paulo - SP<p>
                    </div>
                </div>
            </div>
        </ion-item>

        <ion-item>
            <h2>Endereço</h2>
            <div class="card">
                <div class="item item-text-wrap">
                    <div>
                        <i class="icon ion-ios-location"></i>
                    </div>
                    <div>
                        <h2>Rua dos fulanos de tal, 500</h2>
                        <p>151222 - São Paulo - SP<p>
                    </div>
                </div>
            </div>
        </ion-item>

    </ion-content>
</ion-view>