<ion-view  id="cadastro-empresa">

	<!--<ion-nav-bar class="green back">
        <ion-nav-buttons side="left">
            <button ng-click="goBackHandler()" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->

    <div class="bar coletivando-bar green"> 
        <button ng-click="goBackHandler()" class="button button-icon">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <div class="title nav-title left white">
            Criar oferta
        </div>
    </div>

    <form class="cadastro-form">

<ion-content style="padding: 60px 40px 40px 40px">

        <ion-list>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Produto</span>
                <input type="text" placeholder="Produto" ng-model="oferta.produto"/>
            </label>
            
            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Data limite</span>
                <input type="text" placeholder="Data limite" class="date" ng-model="oferta.dataLimite"/>
            </label>

            <div class="row no-padding">
                <div class="col col-50 no-padding-left">
                    <label class="item-input-coletivando item-floating-label">
                        <span class="input-label">Preço</span>
                        <input type="text" placeholder="Preço inicial" class="money" ng-model="oferta.precoInicialUn"/>
                    </label>
                </div>
                <div class="col col-50 no-padding-right">                
                    <label class="item-input-coletivando item-floating-label">
                        <span class="input-label">Desconto(%)</span>
                        <input type="text" placeholder="Desconto (%)" class="porcent" ng-model="oferta.desconto"/>
                    </label>
                </div>
            </div>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Pessoas</span>
                <input type="text" placeholder="Quantidade de Pessoas" ng-model="oferta.qtdPessoas"/>
            </label>

            <ion-scroll direction="x" class="wide-as-needed lista-img" overflow-scroll="false" has-bouncing="true">
                <div class="slide" ng-repeat="url in listaUrls">
                    <img ng-src="{{url}}">
                </div>
            </ion-scroll>
            
            <button id="labelInput" for="fileInput">
                <i class="icon ion-image"></i>
                Adicionar imagem
            </button>
            <input type="file" id="fileInput"/>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Descrição</span>
                <input type="text" placeholder="Descrição" ng-model="oferta.descricao"/>
            </label>

            <button ng-click="create(oferta)" class="margin-top button button-block btn btn-green">Enviar oferta</button>
             
        </ion-list>
    </form>
  </ion-content> 
</ion-view>