<ion-view  id="cadastro-empresa" title="">

	<ion-nav-bar class="green back">
        <ion-nav-buttons side="left">
            <button ng-click="goBackHandler()" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
            <h3 style="margin-top:0.5%; margin-left:20px; color:white;"> Crie sua oferta </h3>
        </ion-nav-buttons>
    </ion-nav-bar>

    <form class="cadastro-form">

<ion-content style="padding:40px">

        <ion-list>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Produto</span>
                <input type="text" placeholder="Produto" ng-model="oferta.produto"/>
            </label>
            
            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Data limite</span>
                <input type="text" placeholder="Data limite" ng-model="oferta.dataLimite"/>
            </label>
            
            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Preço Inicial</span>
                <input type="text" placeholder="Preço inicial por unidade" ng-model="oferta.precoInicialUn"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Desconto(%)</span>
                <input type="text" placeholder="Desconto por unidade (%)" ng-model="oferta.desconto"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Qtd Pessoas</span>
                <input type="text" placeholder="Qtd Pessoas" ng-model="oferta.qtdPessoas"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Descrição</span>
                <input type="text" placeholder="Descrição" ng-model="oferta.descricao"/>
            </label>

            <div class="row margin-top">
                <div class="col"></div>
                <div class="col col-80 center">
                    <button ng-click="create(oferta)" class="button btn btn-green">Enviar oferta</button>
                </div>
                <div class="col"></div>
            </div>

        </ion-list>
    </form>
  </ion-content> 
</ion-view>