<ion-view  id="cadastro-empresa">

	<!--<ion-nav-bar class="green back">
        <ion-nav-buttons side="left">
            <button ng-click="goBackHandler()" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->

    <div class="bar coletivando-bar green"> 
        <button ng-click="goBackHandler()" class="button button-icon">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <div class="title nav-title left white">
            Criar oferta
        </div>
    </div>

    <form name="cadastroForm" ng-submit="create(oferta)" ng-controller="ValidacaoCtrl" class="cadastro-form">

<ion-content style="padding: 60px 40px 40px 40px">

        <ion-list>            
            <label class="item-input-coletivando item-floating-label" 
            ng-class="{'has-errors' : (cadastroForm.txtProduto.$invalid && !cadastroForm.txtProduto.$pristine) || cadastroForm.txtProduto.$invalid && submitted, 'no-errors' : cadastroForm.txtProduto.$valid}">
                <span class="input-label">Produto</span>
                <input type="text" ng-required="true" placeholder="Produto" name="txtProduto" ng-model="oferta.produto"/>
            </label>

            <label class="item-input-coletivando item-floating-label" 
            ng-class="{'has-errors' : (cadastroForm.txtCategoria.$invalid && !cadastroForm.txtCategoria.$pristine) || cadastroForm.txtCategoria.$invalid && submitted, 'no-errors' : cadastroForm.txtCategoria.$valid}">
                <span class="input-label">Categoria</span>
                <select ng-required="true" name="txtCategoria" ng-model="oferta.categoria">
                    <option value="TV">TV</option>
                    <option value="CELULARES">Celulares</option>
                    <option value="ELETRONICOS">Eletrônicos</option>
                    <option value="INFORMATICA">Informática</option>
                    <option value="ELETRODOMESTICOS">Eletrodomésticos</option>
                    <option value="ESPORTE_LAZER">Esporte e Lazer</option>
                    <option value="LIVROS">Livros</option>
                    <option value="GAMES">Games</option>
                </select>
            </label>

            <label class="item-input-coletivando item-floating-label" 
            ng-class="{'has-errors' : (cadastroForm.txtDataLimite.$invalid && !cadastroForm.txtDataLimite.$pristine) || cadastroForm.txtDataLimite.$invalid && submitted, 'no-errors' : cadastroForm.txtDataLimite.$valid}">
                <span class="input-label">Data limite</span>
                <input type="text" name="txtDataLimite" ng-required="true" placeholder="Data limite" class="date" ng-model="oferta.dataLimite"/>
            </label>

            <div class="row no-padding">
                <div class="col col-50 no-padding-left">
                    <label class="item-input-coletivando item-floating-label" 
            ng-class="{'has-errors' : (cadastroForm.txtPrecoInicial.$invalid && !cadastroForm.txtPrecoInicial.$pristine) || cadastroForm.txtPrecoInicial.$invalid && submitted, 'no-errors' : cadastroForm.txtPrecoInicial.$valid}">
                        <span class="input-label">Preço</span>
                        <input type="text" ng-required="true" ng-minlength="3" name="txtPrecoInicial" placeholder="Preço inicial" class="money oferta-precoinicial" ng-model="oferta.precoInicialUn"/>
                    </label>
                </div>
                <div class="col col-50 no-padding-right">                
                    <label class="item-input-coletivando item-floating-label" 
            ng-class="{'has-errors' : (cadastroForm.txtDesconto.$invalid && !cadastroForm.txtDesconto.$pristine) || cadastroForm.txtDesconto.$invalid && submitted, 'no-errors' : cadastroForm.txtDesconto.$valid}">
                        <span class="input-label">Desconto(%)</span>
                        <input type="text" ng-required="true" placeholder="Desconto (%)" class="porcent oferta-desconto" name="txtDesconto" ng-model="oferta.desconto"/>
                    </label>
                </div>
            </div>

            <label class="item-input-coletivando item-floating-label" 
            ng-class="{'has-errors' : (cadastroForm.txtPessoas.$invalid && !cadastroForm.txtPessoas.$pristine) || cadastroForm.txtPessoas.$invalid && submitted, 'no-errors' : cadastroForm.txtPessoas.$valid}">
                <span class="input-label">Pessoas</span>
                <input type="text" ng-required="true" name="txtPessoas" placeholder="Quantidade de Pessoas" ng-model="oferta.qtdPessoas"/>
            </label>

            <ion-scroll direction="x" class="wide-as-needed lista-img" overflow-scroll="false" has-bouncing="true">
                <div class="slide" ng-repeat="url in listaUrls">
                    
                    <div class="box-images">
                        <img ng-src="{{url}}">

                        <div class="exclude-image-box">
                           <span ng-click="removerImagemLista(url)" class="icon-exclude-image icon ion-close-circled"></span>
                        </div>
                    </div>

                </div>
       
            </ion-scroll>
            
            <button id="labelInput" for="fileInput">
                <i class="icon ion-image"></i>
                Adicionar imagem
            </button>
            <input type="file" id="fileInput"/>

            <label class="item-input-coletivando item-floating-label" 
            ng-class="{'has-errors' : (cadastroForm.txtDescricao.$invalid && !cadastroForm.txtDescricao.$pristine) || cadastroForm.txtDescricao.$invalid && submitted, 'no-errors' : cadastroForm.txtDescricao.$valid}">
                <span class="input-label">Descrição</span>
                <input type="text" ng-required="true" ng-minlength="50" name="txtDescricao" placeholder="Descrição" ng-model="oferta.descricao"/>
            </label>

            <button ng-click="submit(cadastroForm)" class="margin-top button button-block btn btn-green">Enviar oferta</button>
             
        </ion-list>
    </form>
  </ion-content> 
</ion-view>