<ion-view id="descricao" title="Descrição">
    <ion-nav-bar class="roxo">

      <ion-nav-buttons side="left"> 
            <button ng-click="goBackHandler()" class="button button-icon"> 
                <i class="icon ion-android-arrow-back"></i> 
            </button> 
      </ion-nav-buttons> 

    <ion-content>
  
      <div class="info-desc">
        <div class="row">
          <div class="col col-100 left">
            <h3>{{oferta.produto}}</h3>
            <p ng-bind-html="oferta.descricao"></p>
          </div>
        </div>
      </div>
    
    </ion-content>
</ion-view>