<ion-view title="Minhas ofertas">

	<!--<ion-nav-bar class="green back">
        <ion-nav-buttons side="left">
            <button ng-click="goBackHandler()" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->

    <div class="bar coletivando-bar green"> 
        <button ng-click="goBackHandler()" class="button button-icon">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <div class="title nav-title left white">
            Minhas ofertas
        </div>
    </div>

    <ion-content class="padding-navbar">

        <ion-list>

            <a class="item minhas-ofertas-item" ng-repeat="ofertaCriando in ofertasCriandoPorPessoaJuridica" ng-click="showOpcoesOfertas(ofertaCriando.$id)">
                <div class="criando">
                    <h2>{{ofertaCriando.produto}}</h2>
                    <p>EM CONSTRUÇÃO 
                        <davi style="font-style: italic; color: #8e8e8e">(Falta finalizar sua oferta)</davi>
                    </p>
                </div>
            </a>
            <a class="item minhas-ofertas-item" ng-repeat="ofertaAguardando in ofertasAguardandoPorPessoaJuridica" ng-click="showOpcoesOfertas(ofertaAguardando.$id)">
                <div class="aguardando">
                    <h2>{{ofertaAguardando.produto}}</h2>
                    <p>{{ofertaAguardando.status}}</p>
                </div>
            </a>
            <a class="item minhas-ofertas-item" ng-repeat="ofertaAprovada in ofertasAprovadasPorPessoaJuridica" ng-click="showOpcoesOfertas(ofertaAprovada.$id)">
                <div class="aprovado">
                    <h2>{{ofertaAprovada.produto}}</h2>
                    <p>{{ofertaAprovada.status}}</p>
                </div>
            </a>
            <a class="item minhas-ofertas-item" ng-repeat="ofertaRecusada in ofertasRecusadasPorPessoaJuridica" ng-click="showOpcoesOfertas(ofertaRecusada.$id)">
                <div class="recusado">
                    <h2>{{ofertaRecusada.produto}}</h2>
                    <p>{{ofertaRecusada.status}}</p>
                </div>
            </a>
        </ion-list>

    </ion-content>
</ion-view>