<ion-view title="Minhas ofertas">

	<!--<ion-nav-bar class="green back">
        <ion-nav-buttons side="left">
            <button ng-click="goBackHandler()" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->

    <div class="bar coletivando-bar green"> 
        <button ng-click="goBackHandler()" class="button button-icon">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <div class="title nav-title left white">
            Minhas ofertas
        </div>
    </div>

    <ion-content class="padding-navbar">

        <ion-list>
            <a class="item minhas-ofertas-item" ng-repeat="oferta in ofertasPorPessoaJuridica | orderBy:'status'" ng-click="showOpcoesOfertas(oferta.$id)">
                <div ng-if="oferta.status == 'CRIANDO'" class="criando">
                    <h2>{{oferta.produto}}</h2>
                     <p>EM CONSTRUÇÃO 
                         <davi style="font-style: italic; color: #8e8e8e">(Falta finalizar sua oferta)</davi>
                     </p>
                 </div>
                <div ng-if="oferta.status == 'AGUARDANDO'" class="aguardando">
                    <h2>{{oferta.produto}}</h2>
                    <p>{{oferta.status}}</p>
                 </div>
                <div ng-if="oferta.status == 'APROVADO'" class="aprovado">
                    <h2>{{oferta.produto}}</h2>
                    <p>{{oferta.status}}</p>
                 </div>
                <div ng-if="oferta.status == 'RECUSADO'" class="recusado">
                    <h2>{{oferta.produto}}</h2>
                    <p>{{oferta.status}}</p>
                </div>
            </a>
        </ion-list>

    </ion-content>
</ion-view>