<ion-view >

	<ion-nav-bar class="green">
        <ion-nav-buttons side="left">
            <button ng-click="goBackHandler()" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
            <h3 style="margin-top:0.5%; margin-left:20px; color:white;"> Minhas ofertas </h3>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>

        <ion-list>
            <ion-item ng-repeat="oferta in ofertasPorPessoaJuridica">
                <h2>{{oferta.produto}}</h2>
                <p>{{oferta.status}}</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>