<ion-view title="Coletivando">
    <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear icon ion-ios-search-strong"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

	<ion-content>
        <ion-list>
            <ion-item ng-repeat="ofertaView in listaOfertas" class="card">
                <img src="{{ofertaView.enderecoImagem}}" class="centralizarElemento" />
                <h2 class="text-left">{{ofertaView.titulo}}</h2>
                <div class="text-right">
                    <p>{{ofertaView.valorPromocional | currency: "R$ "}}</p>
                    <h4>{{ofertaView.valorUnitario | currency: "R$ "}}</h4>
                </div>
                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>