<ion-view id="home" title="Todas as ofertas">
    <ion-nav-bar class="roxo">
        <ion-nav-buttons side="right">
            <button ng-click="showPesquisa()" class="button button-icon">
                <i class="icon ion-android-search"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

	<ion-content>
       <ion-scroll direction="x" class="wide-as-needed">

           <button type="button" class="button btn-nav-menu">
               Novidades
           </button>
           <button type="button" class="button btn-nav-menu">
               Populares
           </button>
           <button type="button" class="button btn-nav-menu">
               Mais arrecadados
           </button>
           <button type="button" class="button btn-nav-menu">
               Finalizando
           </button>

        </ion-scroll>

        <ion-list>
            <ion-item ng-repeat="ofertaView in listaOfertas" class="card">
                
                <img src="{{ofertaView.enderecoImagem}}" class="bg-card" />
                
                <div class="info-card-home" ui-sref="visualizar-oferta">
                    <div class="row">
                        <div class="col col-50 left">
                            <h2>{{ofertaView.titulo}}</h2>
                        </div>
                        <div class="col col-50 right">
                            <p class="price">{{ofertaView.valorPromocional | currency: "R$ "}}</p>
                            <p class="price-old">{{ofertaView.valorUnitario | currency: "R$ "}}</p>
                        </div>
                    </div>

                    <div class="row pb">
                        <div class="progress-bar" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    
                    <div class="row bottom">
                        <div class="col col-50 left">
                            <p>36% completo</p>
                        </div>
                        <div class="col col-50 right">
                            <p>{{ofertaView.desconto}}% desconto</p>
                        </div>
                    </div>
                </div>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>