<ion-view title="Coletivando">
    <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear icon ion-ios-search-strong"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

	<ion-content>
        <ion-list>
            <ion-item ng-repeat="ofertaView in listaOfertas" class="card">
                
                <div class="row">
                    <img src="{{ofertaView.enderecoImagem}}" class="centralizarElemento" />
                </div>
                <b><p class="text-left">{{ofertaView.titulo}}</p></b>
                <div class="text-right">
                    <p>{{ofertaView.valorPromocional | currency: "R$ "}}</p>
                    <h4>{{ofertaView.valorUnitario | currency: "R$ "}}</h4>
                </div>
                <div class="row">
                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="margin-left:5%; width:50%; border-radius: 3px; height: 5px; background: #79C9AD;">
                     valor arrecadado
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>