<ion-view>
    <ion-nav-bar class="transp"> 
        <ion-nav-buttons side="left"> 
            <button ng-click="" class="button button-icon"> 
                <i class="icon ion-android-arrow-back"></i> 
            </button> 
        </ion-nav-buttons> 
    </ion-nav-bar>
    <div style="width: 90%; height: auto;" >
        <img src="img/home/iphone.jpg" class="centralizarElemento"/>                                
    </div>
    <b><p class="text-left">Smartphone Apple <br/> iPhone 7 128GB</p></b>
    <div class="text-right">
        <p>R$ 200,00</p>
        <p style="text-decoration: line-through; font-size: smaller;">R$ 1000,00</p>
    </div>
    <div class="row">
        
    </div>
    
    <div style="padding-top: 10%;" class="row">
        <button type="button" style="width: 100%;" ng-click="#">
            <p style="float: left;">Descrição</p>
            <div class="icon ion-chevron-right" style="float: right;"></div>
        </button>
    </div>
    
</ion-view>