<ion-view id="visualizar-oferta">
    <ion-nav-bar class="transp"> 
        <ion-nav-buttons side="left"> 
            <button ng-click="goBackHandler()" class="button button-icon"> 
                <i class="icon ion-android-arrow-back"></i> 
            </button> 
        </ion-nav-buttons> 
    </ion-nav-bar>



    <ion-content scroll="false">

        
        <ion-slides  options="options" slider="data.slider">
            <ion-slide-page ng-repeat="url in imagensUrlSlider">
                <div class="box">
                    <center>
                        <img height="250px" ng-src="{{url}}" class="centralizarElemento"/>
                    </center>
                </div>
            </ion-slide-page>
        </ion-slides>
        
<ion-scroll>

        <div class="info-card-home">
            <div class="row">
                <div class="col col-50 left">
                    <h3>{{oferta.produto}}</h2>
                    <a class="info-perfil-empresa" ng-click="showEmpresa(empresa.$id)">por {{empresa.nomeFantasia}}</a>
                </div>
                <div class="col col-50 right">
                    <p class="price">R$ {{oferta.precoFinalUn}}</p>
                    <p class="price-old">R$ {{oferta.precoInicialUn}}</p>
                </div>
            </div>

            <div class="row pb">
                <progress ng-show="oferta.porcentagem>=0" ng-value="oferta.porcentagem" max="100"></progress>
                <!--<div class="progress-bar" ng-role="progressbar" ng-aria-valuenow="100" ng-aria-valuemin="0" ng-aria-valuemax="100">
                </div>-->
            </div>
                    
            <div class="row bottom">
                <div class="col col-50 left">
                    <p>{{oferta.porcentagem}}% completo</p>
                </div>
                <div class="col col-50 right">
                    <p>{{oferta.desconto}}% desconto</p>
                </div>
            </div>
        </div>    
       
        <button class="button btn btn-descricao" style="width: 100%;" ng-click="showDescricao(oferta.$id)">
            <p>Descrição</p>
            <i class="icon ion-chevron-right" style="float: right;"></i>
        </button>
        
        <div class="info-visualizar-oferta">
            <p>{{qtdPessoas}} pessoas já aderiram esta oferta</p>
            <p>Vence em {{oferta.dataLimite}}</p>
        </div>

        <div class="row">
                <div class="col"></div>
                <div ng-show="aderiu == false" class="col col-80 center">
                    <button ng-click="showAderirOferta(oferta.$id)" class="button btn btn-green">Aderir Oferta</button>
                </div>
                <div ng-show="aderiu == true" class="col col-80 center">
                    Você aderiu esta oferta.
                </div>
                <div class="col"></div>
            </div>

            </ion-scroll>

    </ion-content>
    
</ion-view>