<ion-view id="visualizar-oferta">
    <ion-nav-bar class="transp"> 
        <ion-nav-buttons side="left"> 
            <button ng-click="" class="button button-icon"> 
                <i class="icon ion-android-arrow-back"></i> 
            </button> 
        </ion-nav-buttons> 
    </ion-nav-bar>

    <ion-content>

        <img height="250px" src="img/home/iphone2.jpg" class="centralizarElemento"/> 

        <div class="info-card-home">
            <div class="row">
                <div class="col col-50 left">
                    <h3>Iphone 7</h2>
                </div>
                <div class="col col-50 right">
                    <p class="price">R$ 1500,00</p>
                    <p class="price-old">R$ 3000,00</p>
                </div>
            </div>

            <div class="row pb">
                <div class="progress-bar" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
                    
            <div class="row bottom">
                <div class="col col-50 left">
                    <p>36% completo</p>
                </div>
                <div class="col col-50 right">
                    <p>50% desconto</p>
                </div>
            </div>
        </div>    

    <div style="padding-top: 10%;" class="row">
        <button type="button" style="width: 100%;" ng-click="#">
            <p style="float: left;">Descrição</p>
            <div class="icon ion-chevron-right" style="float: right;"></div>
        </button>
    </div>

    </ion-content>
    
    
</ion-view>