<ion-view  id="cadastro-empresa" title="">

	<ion-nav-bar class="green">
        <ion-nav-buttons side="left">
            <button ng-click="goBackHandler()" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <form class="cadastro-form">

<ion-content style="padding:50px">

        <ion-list>

            <h2> Cadastre sua empresa </h2>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Nome(Fantasia)</span>
                <input id="txtNomeFantasia" type="text" placeholder="Nome(Fantasia)" ng-model="pessoaJuridica.shortname"/>
            </label>
            
            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Nome</span>
                <input id="txtNome" type="text" placeholder="Nome" ng-model="pessoaJuridica.name"/>
            </label>
            
            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">CNPJ</span>
                <input id="txtCnpj" type="text" placeholder="CNPJ" ng-model="pessoaJuridica.cnpj" ng-blur="validarCnpj()"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">CNAE(Principal)</span>
                <input id="txtCnae" type="text" placeholder="CNAE(Principal)" ng-model="pessoaJuridica.cnae"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">CEP</span>
                <input id="txtCep" type="text" class"cep" placeholder="CEP" ng-model="pessoaJuridica.cep" maxlength="9"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Rua</span>
                <input id="txtRua" type="text" placeholder="Rua" ng-model="pessoaJuridica.address"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Bairro</span>
                <input id="txtBairro" type="text" placeholder="Bairro" ng-model="pessoaJuridica.area"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Estado</span>
                <input id="txtEstado" type="text" placeholder="Estado" ng-model="pessoaJuridica.state"/>
            </label>
            
            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Cidade</span>
                <input id="txtCidade" type="text" placeholder="Cidade" ng-model="pessoaJuridica.city"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Telefone</span>
                <input id="txtTelefone" type="text" id="telefone" placeholder="Telefone" ng-model="pessoaJuridica.phone"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Email</span>
                <input id="txtEmail" type="email" placeholder="Email" ng-model="pessoaJuridica.email"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Senha</span>
                <input id="txtSenha" type="password" placeholder="Senha" ng-model="pessoaJuridica.password"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Confirmar senha</span>
                <input type="password" placeholder="Confirmar senha" ng-model="pessoaJuridica.senha2"/>
            </label>

            <label class="termos-de-uso">
                <span>Eu li e aceito os termos de uso</span>
                <input type="checkbox">
            </label>

            <div class="row">
                <div class="col"></div>
                <div class="col col-80 center">
                    <button ng-click="salvar(pessoaJuridica)" type="submit" class="button btn btn-green">Cadastrar</button>
                </div>
                <div class="col"></div>
            </div>

        </ion-list>
    </form>
  </ion-content> 
</ion-view>