<ion-view  id="cadastro-empresa" title="Alterar senha">

    <div class="bar coletivando-bar green"> 
        <button ng-click="goBackHandler()" class="button button-icon">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <div class="title nav-title left white">
            Alterar senha
        </div>
    </div>

    <form class="cadastro-form" name="passwordForm" ng-submit="atualizarSenha(usuario.password)" ng-controller="ValidacaoCtrl">

    <ion-content style="padding: 60px 40px 40px 40px">

        <ion-list>
            
            <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (passwordForm.txtSenha.$invalid && !passwordForm.txtSenha.$pristine) || (passwordForm.txtSenha.$invalid && submitted), 'no-errors' : passwordForm.txtSenha.$valid}">
                    <span class="input-label">Senha</span>
                    <input id="txtSenha" ng-required="true" name="txtSenha" type="password" placeholder="Senha" ng-model="usuario.password"/>
                </label>
            </div>

             <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (passwordForm.txtConfirmarSenha.$invalid && !passwordForm.txtConfirmarSenha.$pristine) || (passwordForm.txtConfirmarSenha.$invalid && submitted), 'no-errors' : passwordForm.txtConfirmarSenha.$valid}">
                    <span class="input-label">Confirmar senha</span>
                    <input id="txtConfirmarSenha" ng-required="true" name="txtConfirmarSenha" type="password" placeholder="Confirmar senha" ng-model="usuario.password2" class="validate[required]"/>
                </label>
            </div>
            
            <button type="submit" class="margin-top button button-block btn btn-green" ng-disabled="passwordForm.$invalid">Salvar</button>

        </ion-list>
    </form>
  </ion-content> 
</ion-view>