<ion-view  id="cadastro-empresa" title="Editar dados da empresa">

    <div class="bar coletivando-bar green"> 
        <button ng-click="goBackHandler()" class="button button-icon">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <div class="title nav-title left white">
            Editar empresa
        </div>
    </div>

    <form class="cadastro-form" name="cadastroForm">

    <ion-content style="padding: 60px 40px 40px 40px">

        <ion-list>
            
            <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (cadastroForm.txtCNPJ.$invalid && !cadastroForm.txtCNPJ.$pristine) || (cadastroForm.txtCNPJ.$invalid && submitted), 'no-errors' : cadastroForm.txtCNPJ.$valid}">
                    <span class="input-label">CNPJ</span>
                    <input id="txtCnpj" ng-required="true" name="txtCNPJ" type="text" placeholder="CNPJ" ng-model="pessoaJuridica.cnpj" ng-blur="validarCnpj()" class="validate[required] cnpj"/>
                </label>
            </div>

             <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (cadastroForm.txtNomeFantasia.$invalid && !cadastroForm.txtNomeFantasia.$pristine) || (cadastroForm.txtNomeFantasia.$invalid && submitted), 'no-errors' : cadastroForm.txtNomeFantasia.$valid}">
                    <span class="input-label">Nome(Fantasia)</span>
                    <input id="txtNomeFantasia" ng-required="true" name="txtNomeFantasia" type="text" placeholder="Nome(Fantasia)" ng-model="pessoaJuridica.nomeFantasia" class="validate[required]"/>
                </label>
            </div>
            
             <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (cadastroForm.txtNome.$invalid && !cadastroForm.txtNome.$pristine) || (cadastroForm.txtNome.$invalid && submitted), 'no-errors' : cadastroForm.txtNome.$valid}">
                    <span class="input-label">Nome</span>
                    <input id="txtNome" ng-required="true" name="txtNome" type="text" placeholder="Nome" ng-model="pessoaJuridica.nome" class="validate[required]"/>
                </label>
            </div>

             <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (cadastroForm.txtCnae.$invalid && !cadastroForm.txtCnae.$pristine) || (cadastroForm.txtCnae.$invalid && submitted), 'no-errors' : cadastroForm.txtCnae.$valid}">
                    <span class="input-label">CNAE(Principal)</span>
                    <input id="txtCnae" name="txtCnae" ng-required="true" type="text" placeholder="CNAE(Principal)" ng-model="pessoaJuridica.cnae" class="validate[required]"/>
                </label>
            </div>
            
            <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (cadastroForm.txtCep.$invalid && !cadastroForm.txtCep.$pristine) || (cadastroForm.txtCep.$invalid && submitted), 'no-errors' : cadastroForm.txtCep.$valid}">
                    <span class="input-label">CEP</span>
                    <input id="txtCep" name="cep" ng-required="true" type="text" class"txtCep" placeholder="CEP" ng-model="pessoaJuridica.enderecoCep" maxlength="9" class="validate[required] cep"/>
                </label>
            </div>
            
            <div class="row no-padding">
                <div class="item-form col col-70 no-padding-left">
                    <label class="item-input-coletivando item-floating-label"
                    ng-class="{'has-errors' : (cadastroForm.txtRua.$invalid && !cadastroForm.txtRua.$pristine) || (cadastroForm.txtRua.$invalid && submitted), 'no-errors' : cadastroForm.txtRua.$valid}">
                        <span class="input-label">Rua</span>
                        <input id="txtRua" name="txtRua" ng-required="true" type="text" placeholder="Rua" ng-model="pessoaJuridica.enderecoRua" class="validate[required]"/>
                    </label>
                </div>
                <div class="item-form col col-30 no-padding-right">
                    <label class="item-input-coletivando item-floating-label"
                    ng-class="{'has-errors' : (cadastroForm.txtNumero.$invalid && !cadastroForm.txtNumero.$pristine) || (cadastroForm.txtNumero.$invalid && submitted), 'no-errors' : cadastroForm.txtNumero.$valid}">
                        <span class="input-label">Número</span>
                        <input id="txtNumero" name="txtNumero" ng-required="true" type="text" placeholder="Número" ng-model="pessoaJuridica.enderecoNumero" class="validate[required]"/>
                    </label>
                </div>
            </div>

            <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (cadastroForm.txtComplemento.$invalid && !cadastroForm.txtComplemento.$pristine) || (cadastroForm.txtComplemento.$invalid && submitted), 'no-errors' : cadastroForm.txtComplemento.$valid}">
                    <span class="input-label">Complemento</span>
                    <input id="txtComplemento" name="txtComplemento" ng-required="true" type="text" placeholder="Complemento" ng-model="pessoaJuridica.enderecoComplemento" class="validate[optional]"/>
                </label>
            </div>

            <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (cadastroForm.txtBairro.$invalid && !cadastroForm.txtBairro.$pristine) || (cadastroForm.txtBairro.$invalid && submitted), 'no-errors' : cadastroForm.txtBairro.$valid}">
                    <span class="input-label">Bairro</span>
                    <input id="txtBairro" name="txtBairro" ng-required="true" type="text" placeholder="Bairro" ng-model="pessoaJuridica.enderecoBairro" class="validate[required]"/>
                </label>
            </div>

            <!-- SELECT ESTADO E CIDADE -->
            <div class="item-form">
                <span class="input-label">Estado</span>
                <select id="txtEstado" ng-model="pessoaJuridica.enderecoEstado" class="validate[required]"></select>
            </div>
            <div class="item-form">
                <span class="input-label">Cidade</span>
                <select id="txtCidade" ng-model="pessoaJuridica.enderecoCidade" class="validate[required]"></select>
                <input type="hidden" ng-model="resposta_data" id="resposta_data"></div>
            </div>

            <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (cadastroForm.txtTelefone.$invalid && !cadastroForm.txtTelefone.$pristine) || (cadastroForm.txtTelefone.$invalid && submitted), 'no-errors' : cadastroForm.txtTelefone.$valid}">
                    <span class="input-label">Telefone</span>
                    <input id="txtTelefone" type="text" name="txtTelefone" ng-required="true" id="telefone" placeholder="Telefone" ng-model="pessoaJuridica.telefone" class="validate[required] phone"/>
                </label>
            </div>

            <div class="item-form">
                <label class="item-input-coletivando item-floating-label"
                ng-class="{'has-errors' : (cadastroForm.txtCelular.$invalid && !cadastroForm.txtCelular.$pristine) || (cadastroForm.txtCelular.$invalid && submitted), 'no-errors' : cadastroForm.txtCelular.$valid}">
                    <span class="input-label">Celular</span>
                    <input id="txtCelular" name="txtCelular" ng-required="true" type="text" id="Celular" placeholder="Celular" ng-model="pessoaJuridica.celular" class="validate[required] phone"/>
                </label>
            </div>

            <button ng-click="update(pessoaJuridica)" type="submit" class="margin-top button button-block btn btn-green">Salvar</button>

        </ion-list>
    </form>
  </ion-content> 
</ion-view>