<ion-view title="Minha Conta">
	<ion-nav-bar class="navbar-alterar-senha">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-list>
        <button ui-sref="editar-empresa" type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-user"><i class="ion-person"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Editar cadastro
        </button>
        <button ui-sref="criar-oferta" type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-bag"><i class="ion-bag"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Criar oferta
        </button>
        <button ui-sref="minhas-ofertas" type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-config"><i class="ion-gear-b"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Minhas ofertas
        </button>
        <button type="button" class="button btn btn-minha-conta button-block" ng-click="logout()">
            <a class="icon-circle icon-door"><i class="ion-android-exit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Sair
        </button>
    </ion-list>
</ion-view>