<ion-view title="Minha Conta">
	<div class="bar coletivando-bar green"> 

        <div class="title nav-title white">
            Minha conta
        </div>
    </div>

    <ion-list>
        <button ui-sref="tabsJuridicoLogado.editarEmpresa" type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-user"><i class="ion-person"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Editar cadastro
        </button>
        <button ui-sref="tabsJuridicoLogado.criarOferta" type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-plus"><i class="ion-plus"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Criar oferta
        </button>
        <button ui-sref="tabsJuridicoLogado.minhasOfertas" type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-bag"><i class="ion-bag"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Minhas ofertas
        </button>
        <button ng-click="showAlterarSenha()" type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-key"><i class="ion-key"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Alterar Senha
        </button>
        <button type="button" class="button btn btn-minha-conta button-block" ng-click="logout()">
            <a class="icon-circle icon-door"><i class="ion-android-exit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Sair
        </button>
    </ion-list>
</ion-view>