<ion-view id="perfil-empresa" title="">
   
    <ion-nav-bar class="transp">
        <ion-nav-buttons side="left">
            <button ng-click="" class="button button-icon">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content>

        <img class="full-image" src="img/perfil-empresa/bg.jpg">
        <div class="card-company">
            <div class="avatar-company">
                <center>    
                    <img src="img/perfil-empresa/submarino.png">
                </center>
            </div>

            <div class="header-company">
                <h3>Submarino</h3>
                <p>55 ofertas concluídas</p>
            </div>

            <div class="info-company">
                <p>telefone</p>
                <p>email</p>
                <p>endereço</p>
            </div>

        </div>
    </ion-content>

</ion-view>