<ion-view id="cadastro-user" title="">

    <ion-nav-bar class="green"> 
        <ion-nav-buttons side="left"> 
            <button ng-click="goBackHandler()" class="button button-icon"> 
                <i class="icon ion-android-arrow-back"></i> 
            </button> 
        </ion-nav-buttons> 
    </ion-nav-bar>

    <form ng-submit="create(pessoaFisica)" class="cadastro-form">

        <ion-list>
            <h2 class="text-center">Cadastre-se</h2>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Nome</span>
                <input id="txtNome" type="text" placeholder="Nome" ng-model="pessoaFisica.nome"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Email</span>
                <input id="txtEmail" type="email" placeholder="Email" ng-model="pessoaFisica.email"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Senha</span>
                <input id="txtSenha" type="password" placeholder="Senha" ng-model="pessoaFisica.password"/>
            </label>

            <label class="item-input-coletivando item-floating-label">
                <span class="input-label">Confirmar</span>
                <input id="txtConfirmacaoSenha" type="password" placeholder="Confirmar senha"/>
            </label>
            
            <button class="margin-top button button-block btn btn-green">Cadastrar</button>

        </ion-list>
    </form>
</ion-view>