<ion-view>
   <ion-nav-bar class="roxo"> 
        <ion-nav-buttons side="left"> 
            <button ng-click="goBackHandler()" class="button button-icon"> 
                <i class="icon ion-android-close"></i> 
            </button> 
        </ion-nav-buttons> 
        
        <ion-nav-buttons side="right"> 
            <button ng-click="update(pessoaFisica)" class="button button-icon"> 
                SALVAR 
            </button> 
        </ion-nav-buttons> 
    </ion-nav-bar>
    
    <ion-content>
        <form class="editar-user endereco">
            <ion-list>

                <ion-item>
                    <h2>CEP</h2>
                    <input mask="99999-999" type="text" ng-model="pessoaFisica.enderecoCep"/>
                </ion-item>

                <div class="row">
                    <div class="col col-80">
                        <ion-item>
                            <h2>Rua</h2>
                            <input type="text" ng-model="pessoaFisica.enderecoRua"/>
                        </ion-item>
                    </div>
                    <div class="col col-20">
                         <ion-item>
                            <h2>Nº</h2>
                            <input type="text" ng-model="pessoaFisica.enderecoNumero"/>
                        </ion-item>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-80">
                        <ion-item>
                            <h2>Cidade</h2>
                            <input type="text" ng-model="pessoaFisica.enderecoCidade"/>
                        </ion-item>
                    </div>
                    <div class="col col-20">
                         <ion-item>
                            <h2>UF</h2>
                            <input type="text" ng-model="pessoaFisica.enderecoEstado"/>
                        </ion-item>
                    </div>
                </div>

            </ion-list>
        </form>
    </ion-content>

</ion-view>