<ion-view id="login" title="Coletivando">
    <ion-content>

        <form class="login-form" ng-submit="login(usuario)">
            <h2>Coletivando</h2>

            <ion-list>
                <label class="item-input-coletivando item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" ng-model="usuario.email"/>
                </label>

                <label class="item-input-coletivando item-floating-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Senha" ng-model="usuario.password"/>
                </label>

                <label class="manter-conectado">
                    <span>Manter conectado</span>
                    <input type="checkbox">
                </label>
                
                <button type="submit" class="button btn btn-green button-block">Entrar</button>

            </ion-list>
        </form>

        <div class="text-center cadastrar-div">
            <button class="button btn-cadastro" ng-click="showCadastros()">
                Cadastre-se
            </button>
        </div>
    </ion-content>
    <!-- Botão Facebook -->
    <!-- Botão Google + -->
</ion-view>