<ion-view id="login" title="Coletivando">
    <ion-content>

        <form class="login-form" name="login-form" ng-submit="login(usuario)">
            <h2>Coletivando</h2>

            <ion-list>
                <label class="item-input-coletivando item-floating-label">
                    <span class="input-label">Email</span>
                    <input id="txtEmail" type="email" class="validate[required]" placeholder="Email" ng-model="usuario.email"/>
                </label>

                <label class="item-input-coletivando item-floating-label">
                    <span class="input-label">Senha</span>
                    <input id="txtSenha" type="password" class="validate[required]" placeholder="Senha" ng-model="usuario.password"/>
                </label>

                <!-- <label class="manter-conectado">
                    <span>Manter conectado</span>
                    <input type="checkbox">
                </label> -->
                
                <button type="submit" ng-click="{{ login-form.$valid }}" class="button btn btn-green button-block" style="margin-top:50px">Entrar</button>

            </ion-list>
        </form>

        <div class="text-center cadastrar-div">
            <button class="button btn-cadastro" ng-click="showCadastros()">
                Cadastre-se
            </button>
        </div>
    </ion-content>
    <!-- Botão Facebook -->
    <!-- Botão Google + -->
</ion-view>