<ion-view title="Minha Conta">
	<ion-nav-bar class="navbar-alterar-senha">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-list>
        <button ui-sref="tabsFisicoLogado.editarUser" type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-user"><i class="ion-person"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Dados pessoais
        </button>
        <button type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-bag"><i class="ion-bag"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Ofertas que apoiei
        </button>
        <!--<button type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-config"><i class="ion-gear-b"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Preferências
        </button>-->
        <button type="button" class="button btn btn-minha-conta button-block">
            <a class="icon-circle icon-key"><i class="ion-key"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Alterar senha
        </button>
        <button type="button" class="button btn btn-minha-conta button-block" ng-click="logout()">
            <a class="icon-circle icon-door"><i class="ion-android-exit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;Sair
        </button>
    </ion-list>
</ion-view>