<ion-view id="home" title="Ofertas em espera">
    <ion-nav-bar class="roxo">
        <ion-nav-buttons side="right">
            <button ng-click="logout()" class="button button-icon">
                <i class="icon ion-android-exit"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

	<ion-content>

        <ion-list>
            <a ng-click="showVisualizarOferta(oferta.$id)" class="item minhas-ofertas-item" ng-repeat="oferta in ofertas">
                <div class="criando">
                    <h2>{{oferta.produto}}</h2>
                </div>
            </a>
        </ion-list>

    </ion-content>
</ion-view>