<ion-view id="explore" title="Explore">  
    <ion-content>

        <!--parte visivel somente com login-->
        <ion-item class="item-button-right colet-option">
            <h2>Categorias Favoritas</h2>
            <button ng-click="showPersonalizar()" class="button button-clear">
                <i class="icon ion-gear-a"></i>
            </button>
        </ion-item>

        <ion-item>
            <!--Customizar a imagem com avatar do usuario-->
            <div class="bg-personalizar-categorias"></div>
            
            <div class="row">
                <div class="col"></div>
                <div class="col col-80 center">
                    <button ui-sref="tabsNaoLogado.explore.personalizarCategorias" class="button btn btn-green">Adicionar</button>
                </div>
                <div class="col"></div>
            </div>
        </ion-item>
       
        <!--parte visivel a todos-->
        <ion-item class="list-categorias">
            <h2>Todas as Categorias</h2>
            <ion-list>
                <a ng-repeat="c in categorias" ng-click="filterHome(c.id)" class="item">
                    {{c.nome}}
                    <i class="icon ion-chevron-right"></i>
                </a>
            </ion-list>
        </ion-item>
        
    
    </ion-content>
</ion-view>