<ion-view id="personalizar" title="Personalização">  
   
    <div class="bg-header"> 
        <h4>Personalização</h4>
        <h5>Selecione suas categorias favoritas</h5>
    </div>
    <ion-content>
        <div class="categorias-group">
            <div ng-repeat="c in categorias" class="categoria-icon">  
                <div ng-click="trocaImagem(categorias.indexOf(c))">
                    <img  ng-src="{{c.img}}" alt="{{c.nome}}" class="img-categoria">        
                    <p>{{c.nome}}</p>
                </div>
            </div>
        </div>
    </ion-content>
    
    <button class="button btn btn-green">Confirmar</button>
    
</ion-view>