<ion-view id="pesquisar" title="Pesquisa">
   
  <div class="bar bar-header item-input-inset">
    <button class="button button-icon">
      <i class="icon ion-android-arrow-back"></i>
    </button>
    <label class="item-input-wrapper">
        <input type="search" placeholder="Busque produtos">
    </label>
    <button class="button button-icon">
        <i class="icon ion-android-close"></i>
    </button>
  </div>

  <ion-content>
      <ion-list>
        <ion-item ng-repeat="pesquisa in pesquisas">

        <a class="item item-thumbnail-right" href="#">
              <img src="{{pesquisa.image}}">
              <h2>{{pesquisa.name}}</h2>
              <p>{{pesquisa.cost}}</p>
              <p1>{{pesquisa.company}}</p1>
            </a>

          <h2></h2>
          <p></p>
        </ion-item>
      </ion-list>
  </ion-content>

</ion-view>


     

     