<ion-view title="Escolha:">
    <ion-nav-bar></ion-nav-bar>

   <!--Fundo Verde/Branco-->
<!--<div class="container">
  <div class="square" >
    <div class="overlay">  </div>
  </div>
</div>
-->

 <ion-content>

        <ion-item>
            <!--Parte do Usuario-->
            <center>
            <img height="200px" src="img/register-choose/user1.png"/>
            </center>
            

           <button  class="button btn btn-green ">Usuario</button>

 

        </ion-item>

          <ion-item>

            <!--Parte da Empresa-->
            <center>
            <img height="184px" src="img/register-choose/enterprise.png"/>
            </center>
             <div class="row">

            <button class="button btn btn-green">Empresa</button>


            </div>

        </ion-item>


 </ion-content>

</ion-view>