/*Classes gerais*/

.button{
	border-radius: 0;
}
.btn {
	color: #fff;
    font-size: 17px;
}
.btn-green {
	width: 100%; 
	background-color: #79C9AD;
	-webkit-transition: all 0.5s ease delay;
	-moz-transition: all 0.5s ease delay;
	transition: all 0.5s ease delay;
}
.btn-green:hover {
	background-color: #72bba1;
	color: #fff;
}
.btn-green:active, .btn-green:focus {
	background-color: #72bba1;
	color: #fff;
}

.center{
	text-align: center;
}

/*Login*/

.titulo-login {
	border-width: 0;
	margin-top: 50px;
	font-size: 24px;
	color: #8D8D8D;
}

.login-form {
	margin-top: 100px;
	padding-left: 40px;
	padding-right: 40px;
}

.item-input-coletivando {
	border-bottom: #ddd 2px solid;
}

.manter-conectado {
	height: 60px;
	margin-top: 30px;
	color: #555;
	display: block;
	font-size: 16px;
}

.manter-conectado span {
	float: left;
}

input[type="checkbox"]:not(:checked) {
	-webkit-appearance: none;
	border: #888 2px solid;
	border-radius: 2px;
	width: 20px;
	height: 20px;
}

input[type="checkbox"]:checked {
	-webkit-appearance: none;
	background-color: #79C9AD;
	border: #79C9AD 2px solid;
	border-radius: 2px;
	width: 20px;
	height: 20px;
}



/*View Explore*/
#explore .colet-option h2{
	color: #8D8D8D;
	font-weight: 500;
	font-size: 18px;
}
#explore .colet-option button{
	color: #AA79B8;
}
#explore ion-item{
	border: 0;
}

.list-categorias h2{
	color: #8D8D8D;
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 20px;
}
#explore a{
	border: 0;
}
#explore ion-list{
	color: #555555;
}
#explore i{
	float: right;
}

.bg-personalizar-categorias{
    background: url(../img//categorias/personalizar-categorias.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 1;
    position: relative;
}

#explore .btn-green{
	padding: 2px;
	min-height: 0px;
	line-height: 0px;
	height: 36px;
}

/* Personalizar categorias */

#personalizar .bg-header{
	background-color: #AA79B8;
	height: 100px;
	text-align: center;
	box-shadow: 0 1px 28px rgba(0,0,0,0.25), 0 1px 10px rgba(0,0,0,0.22);
}

.bg-header h4{
	color: #fff;
	margin: 0;
	padding: 10px; 
	font-size: 20px;
	font-family: 'Fredoka One', cursive;
}

.bg-header h5{
	color: #e4e4e4;
	margin: 0;
	padding: 10px; 
	font-weight: 100;
	font-size: 16px;
}

.categorias-group{
	display: inline-block;
}

.categoria-icon{
	width: 50%;
	height: 50px;
}

/*view cadastro-user */
#cadastro-user .btn-green {
	margin-top: 20px;

.centralizarElemento{
	display: block; 
	margin: auto; 
	width: 40%;
}

.alinharEsquerdaElemento{
	position: absolute;
    left: 0px;
    width: 300px;
    padding: 10px;
}

.alinharDireitaElemento{
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

.text-left {
	float: left;
}

.text-right {
	float: right;
}