/*Classes gerais*/

ion-nav-bar.transp ion-header-bar{
	background-color: rgba(0,0,0,0);
}
ion-nav-bar.roxo ion-header-bar{
	background-color: #AA79B8;
}
ion-nav-bar.green ion-header-bar{
	background-color: #72bba1;
}
ion-header-bar div.title.header-item{
	text-align: left;
	left: 0px !important;
	right: 0px !important;
	color: #fff;
}
ion-nav-bar button.button-icon{
	color: #fff;
}

/*Para navbars com seta de voltar*/
ion-header-bar.back .title.title-center.header-item {
	margin-left: 50px;
}


/*.header-item{
	left: 0;
	right: 0;
	text-align: left;
}*/




.button{
	border-radius: 0;
}
.btn {
	color: #fff;
    font-size: 17px;
}
.btn-green {
	width: 100%; 
	background-color: #79C9AD;
	-webkit-transition: all 0.5s ease delay;
	-moz-transition: all 0.5s ease delay;
	transition: all 0.5s ease delay;
}
.btn-green:hover {
	background-color: #72bba1;
	color: #fff;
}
.btn-green:active, .btn-green:focus {
	background-color: #72bba1;
	color: #fff;
}

.center{
	text-align: center;
}

input[type="checkbox"]:not(:checked) {
	-webkit-appearance: none;
	border: #888 2px solid;
	border-radius: 2px;
	width: 20px;
	height: 20px;
}

input[type="checkbox"]:checked {
	/*-webkit-appearance: none;*/
	background-color: #79C9AD;
	border: #79C9AD 2px solid;
	border-radius: 2px;
	width: 20px;
	height: 20px;
}

.item-input-coletivando {
	border-bottom: #ddd 2px solid;
}

/* Tentativa de deixar o checkbox mais bonito
input[type=checkbox]:after {
    content: " ";
    background-color: #79c9ad;
    color: white;
    display: inline-block;
    visibility: visible;
    width: 17px;
    height: 17px;
    font-size: 17px;
}

input[type=checkbox]:checked:after {
    content: "\2714";
}
*/

input {
	width: 100%;
}


/*Login*/

.titulo-login {
	border-width: 0;
	margin-top: 50px;
	font-size: 24px;
	color: #8D8D8D;
}

.login-form {
	margin-top: 100px;
	padding-left: 40px;
	padding-right: 40px;
}

.manter-conectado {
	height: 60px;
	margin-top: 30px;
	color: #555;
	display: block;
	font-size: 16px;
}

.manter-conectado span {
	float: left;
}

.manter-conectado [type="checkbox"] {
	margin-left: 20px;
}

.cadastrar-div {
	margin-top: 15px;
}

.cadastrar-div p {
	color:#79C9AD; 
	font-size: 17px;
}

/*Alterar Senha*/

.navbar-alterar-senha {
	background-color: #aa79b8;
	color: white;
}

.alterar-senha-form {
	margin-top: 50px;
	padding-left: 40px;
	padding-right: 40px;
}

/*View Explore*/

#explore .colet-option h2{
	color: #8D8D8D;
	font-weight: 500;
	font-size: 18px;
}
#explore .colet-option button{
	color: #AA79B8;
}
#explore ion-item{
	border: 0;
}

.list-categorias h2{
	color: #8D8D8D;
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 20px;
}
#explore a{
	border: 0;
}
#explore ion-list{
	color: #555555;
}
#explore i{
	float: right;
}

.bg-personalizar-categorias{
    background: url(../img//categorias/personalizar-categorias.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 1;
    position: relative;
}

#explore .btn-green{
	padding: 2px;
	min-height: 0px;
	line-height: 0px;
	height: 36px;
}

/* Personalizar categorias */

#personalizar button.btn.btn-green{
	position: absolute;
	bottom: 0;
}

#personalizar .bg-header{
	background-color: #AA79B8;
	height: 100px;
	text-align: center;
	box-shadow: 0 1px 28px rgba(0,0,0,0.25), 0 1px 10px rgba(0,0,0,0.22);
	position: relative;
	z-index: 1;
}

.bg-header h4{
	color: #fff;
	margin: 0;
	padding: 10px; 
	font-size: 20px;
	font-family: 'Fredoka One', cursive;
}

.bg-header h5{
	color: #e4e4e4;
	margin: 0;
	padding: 10px; 
	font-weight: 100;
	font-size: 16px;
}

.categorias-group{
	z-index: -1;
	position: relative;
	-moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
	margin-top: 80px;
	padding: 6vw;
}

.categoria-icon{
	padding: 10px;
	text-align: center;
}
.categoria-icon p{
	font-size: 1.1em;
	color: #a7a7a7;
}
.categoria-icon p.selected{
	font-size: 1.1em;
	color: #464646;
}

.img-categoria{
	width: 50%;
	height: 50%;
}

/*View cadastro-empresa*/

#cadastro-empresa .btn-green {
	margin-top: 0px;
}

#cadastro-empresa .termos-de-uso {
	height: 60px;
	margin-top: 30px;
	color: #555;
	display: block;
	font-size: 16px;
}

#cadastro-empresa .termos-de-uso span {
	float: left;
}

#cadastro-empresa .termos-de-uso [type="checkbox"] {
	margin-left: 20px;
}

#cadastro-empresa .h2{
	color: #8D8D8D;
	font-weight: 500;
	font-size: 20px;
}



/*View cadastro-user*/

.cadastro-form {
	margin-top: 100px;
	padding-left: 40px;
	padding-right: 40px;
}

#cadastro-user .btn-green {
	margin-top: 20px;
}

#cadastro-user input{
	color: #adadad;
}

#cadastro-user .input-label{
	color: #989898;
}

#cadastro-user h2{
	color: #8D8D8D;
	font-weight: 500;
	font-size: 27px;
}

/*View Home*/

.centralizarElemento{
	display: block; 
	margin-left: 15px;
	padding-bottom: 20px;
	padding-top: 15px; 
	width: 100%;
	height: 100%;
}

.text-left {
	float: left;
}

.text-right {
	float: right;
}

.btn-nav-menu,
.btn-nav-menu.activated{
	background-color: transparent;
    color: #888;
    text-align: left;
	border: none;
}

.btn-nav-menu:active,
.btn-nav-menu:focus,
.btn-nav-menu:visited{
	background-color: transparent;
    color: #888;
    text-align: left;
	border: none;
}

/* teste categoria bar */

.wide-as-needed {
  overflow: hidden!important;
  white-space: nowrap;
}

/* Minha Conta */
.btn-minha-conta {
	background-color: transparent; 
	color: #888; 
	text-align: left;
}
.btn-minha-conta:focus,
.btn-minha-conta:active,
.btn-minha-conta:visited {
	outline: 0;
}

.btn-minha-conta:first-child {
	margin-top: 90px;
}

.icon-circle {
	position: relative;
	display: inline-block;
	margin: -1px;
	width: 45px;
	height: 45px; 
	font-size:30px; 
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
	border: 1px solid #ebebeb;
	text-align:center;
}

.icon-user {
	background: #79c9ad;
	color: #fff;
}

.icon-bag {
	background: #f7ba7b;
	color: #fff;
}

.icon-config {
	background: #8bc8db;
	color: #fff;
}

.icon-key {
	background: #f2827e;
	color: #fff;
}

.icon-door {
	background: #aaaaaa;
	color: #fff;
}


/* Register Choose */


/*Pesquisar*/

#pesquisar label.item-input-wrapper{
	background-color: rgba(0,0,0,0);
}

#pesquisar ion-content{
	margin-top: 40px;
}



#pesquisar i::before{
	font-size: 22px;
}

#pesquisar a{
	border: none;
}

#pesquisar p1{
	color: #AA79B8; 
}

/*Aderir oferta*/

#aderir-oferta .card{
	margin:0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	color: #636363;
}

#aderir-oferta ion-item{
	border: 0;
	margin-top: 20px;
}

#aderir-oferta h2{
	color: #636363;
	padding-bottom: 10px;
}

#aderir-oferta .card i{
	font-size:45px;
	color: #79c9ad;
}

#aderir-oferta .item.item-text-wrap{
	display: flex
}

#aderir-oferta .icon::before{
	/*padding-right: 15px;*/
}

#aderir-oferta .card h2{
	padding: 3px 0px;
}

#aderir-oferta .button-prox{
	margin-top: 95px;
}

/*Notifications*/

/*ofertas-apoiadas*/

#apoiadas label.item-input-wrapper{
	background-color: rgba(0,0,0,0);
}

#apoiadas ion-content{
	margin-top: 90px;
}



#apoiadas i::before{
	font-size: 22px;
}

#apoiadas a{
	border: none;
}

#apoiadas p1{
	color: #AA79B8; 
}

/*perfil-empresa*/

#perfil-empresa ion-content{
	margin-top: 25px;
}

#perfil-empresa i{
	margin-left: 5px; 
}